/* USER */
.inputUserElement {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

#userSearchForm input[id="phone"]{
    width: 185px;
}

.btnAddUser {
    height: fit-content;
}

.inputUserElement-checkbox {
    display: flex;
    gap: 20px;
}

.labelUserElement {
    min-width: 120px;
}

.btn-custom {
    margin-top: 20px;
    padding: 5px 30px;
    cursor: pointer;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 5px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: black;
}

a[class="btn-custom"]:hover {
    color: black;
}

.itemTable {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#address {
    width: 50vw;
    min-width: 180px;
}

.inputUserElement select {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shortenedSelect {
    max-width: 250px;
}

.rowInput {
    display: flex;
    gap: 150px;
}

@media only screen and (max-width: 921px) {
    .rowInput {
        display: block;
    }
}